$blue: #1877F2;
$green: #42B72A;
$gray-600: rgb(245,245,245);

$border-radius: 0;
$paragraph-margin-bottom: 0;

@import "~bootstrap/scss/bootstrap";

// body{
     
// }

.user-div:hover {
    background-color: rgb(250,250,250);
}